
#background.slide.transitionSlide
  section.middle
    h2 Background
    p Motivation and cloud introduction

    aside.note
      section
        :markdown
          As mentioned here I will present my own initial motivation for the thesis,
          as well as cover the basic introduction to cloud computing.
          You have already read the thesis, and should therefore have some
          insight into cloud computing.
          Nevertheless a oral angling might shed new light on the field.
