#challenges.slide
  header
    h1 Challenges
  section
    ul.bullets
      li Complexity
      li Feedback on failure
      li Mulit-cloud
      li Reproducibility
      li Shareable
      li Robustness
      li Metadata dependency