#challenges.slide
  header
    h1 Challenges
      small Published at [BENEVOL'11]
  section
    ul.bullets
      li Complexity
      li Feedback on failure
      li Multi-cloud
      li Reproducibility
      li Shareable
      li Robustness
      li Metadata dependency