#conclusion.slide
  style
    #conclusion ul.bullets {
      margin-top: 10px;
    }
    #conclusion li {
      padding: 0;
    }
  header
    h1 Conclusions
  section
    ul.bullets
      li Software reuse
        ul
          li jclouds
      li Models@run.time
        ul
          li Actor model, call-back pattern
      li Strong technological foundation
        ul
          li Scala
      li Model-driven approach
        ul
          li Model-driven templating system. Model-based meta-model.
      li Lexical template
        ul
          li JSON-based templates
      li Multi-cloud
        ul
          li jclouds
