#conclusion-table.slide
  style
    #conclusion-table table {
      border-spacing: 10px;
    }
    #conclusion-table th, #conclusion-table td {
      padding-left: 5px;
      padding-right: 5px;
   }
  header
    h1 Comparisons
  section
    table
      thead
        tr
          th
          th software-reuse 
          th foundation 
          th mda 
          th m@rt 
          th lexical-template
      tbody
        tr
          td  Amazon CloudFormation 
          td 
          td 
          td Yes 
          td No 
          td Yes
        tr
          td CA Applogic 
          td
          td
          td Yes 
          td
          td No
        tr
          td jclouds
          td 
          td Yes 
          td Partly 
          td No 
          td No
        tr 
          td mOSAIC 
          td Yes 
          td Yes 
          td No 
          td No 
          td No
        tr
          td Amazon Beanstalk 
          td Yes 
          td Yes 
          td No 
          td No 
          td No
        tr 
          td CloudML 
          td Yes 
          td Yes 
          td Yes 
          td Yes 
          td Yes
