#controls-slide.slide
  header Slides controls
  style
    #controls-slide li, #controls-slide p {
      font-size: 32px;
    }
    #controls-slide .key {
      bottom: 2px;
    }
  section
    ul
      li <span class='key'>&larr;</span> and <span class='key'>&rarr;</span> to move around.</li>
      li <span class='key'>Ctrl/Command</span> and <span class='key'>+</span> or <span class='key'>-</span> to zoom in and out if slides don’t fit.</li>
