#hook.slide
  header
  section
    ul.bullets
      li Nowadays systems must
        ul
          li Cost less: Recovery.gov moving to the cloud
            ul
              li Estimated to save the White House $750,000
          li Scale: 25, 088 Tweets Per Second (TPS)
      li Cloud is supposed to be the solution...
