#jclouds.slide
  style
    #jclouds img.maincenter {
        height: 350px;
    }
    #jclouds header img {
      height: 60px;
      float: left;
    }
    #jclouds section img {
      margin-top: 40px;
    }
  header
    img.maven(src='img/jclouds.png') 
  section
    img.maincenter(src='img/drivers.png')