#jclouds.slide
  style
    #jclouds img.maincenter {
        height: 350px;
    }
    #jclouds header img {
      height: 40px;
    }
    #jclouds section img {
      margin-top: 40px;
    }
  header
    h1 Multicloud
    small
      span  ( 
      img.maven(src='img/jclouds.png') 
      span  )
  section
    img.maincenter(src='img/drivers.png')
