#json.slide
  style
    #json img.maincenter {
        height: 350px;
    }
    #json header img {
      height: 60px;
      float: left;
    }
    #json section img {
      margin-top: 40px;
    }
    #json span {
      margin-left: 20px;
    }
    #json pre {
      margin-top: 10px;
      background: #CCDDEE;
    }
    #json section pre {
      margin-top: 40px;
    }
  header
    img(src='http://www.json.org/img/json160.gif')
    span JSON
  section
    pre.prettyprint
      include ../code/advanced.json
        

