#landing-slide.slide
  style
    #landing-slide h1, #title-slide h2 {
      color: black;
    }
    #landing-slide h1 {
      letter-spacing: -2px;
      font-size: 96px;
    }
    #landing-slide h2 {
      margin-top: -5px;
      font-size: 40px;
      letter-spacing: -1px;
    }
  section.middle
    hgroup
      h1 CloudML
      h2 A DSL for model-based realization of 
      h2 applications in the cloud
      h3 Eirik Brandtzæg 2012-6-11
      h3 University of Oslo, SINTEF

    #left-init-key(style='display:none')