#landing-slide.slide
  section.middle
    header 
      h1 CloudML
    p
      :markdown
        A DSL for model-basedrealization
        of applications in the cloud
    p This presentation is an HTML5 website</p>
