#maven.slide
  style
    #maven img.maincenter {
        height: 350px;
    }
    #maven header img {
      height: 60px;
      float: left;
    }
    #maven section img {
      margin-top: 40px;
    }
  header
    img.maven(src='http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Maven_logo.svg/400px-Maven_logo.svg.png') 
    span modules
  section
    img.maincenter(src='img/modules.png')