#maven.slide
  style
    #maven img.maincenter {
        height: 350px;
    }
    #maven header img {
      height: 50px;
    }
    #maven section img {
      margin-top: 40px;
    }
  header
    h1 Modules
    small
      span  (
      img.maven(src='http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Maven_logo.svg/400px-Maven_logo.svg.png') 
      span )
  section
    img.maincenter(src='img/modules.png')