
#motivation.slide
  header
    h1 Motivation
  section
    ul.bullets
      li Web evangelist
      li Google App Engine (GAE)


  aside.note
    section
      :markdown
        By now I consider myself a web evangelist, as co-developer of sites such as 
        forsvaret.no and contributor to frameworks such as twitter bootstrap.
        And Cloud Computing goes hand in hand with web developing.
        It is not limited to this area, but its the main approach today.

        I have been intereseted in GAE since its release in 2008.
        As a Java develper the new PaaS technology was very intriuging,
        with the ability to publish a automatically scaling web-based 
        java application just by clicking a button.
        This was one of the first PaaS solutions, and even used a NoSQL DB solution 
        (the term was yet coined).

