#requirements.slide
  header
    h1 Requirements
  section
    ul.bullets
      li Software reuse
      li Strong technological foundation
      li Model-Driven approach
      li Lexical template
      li Models@run.time
      li Multi-cloud