#scala.slide
  style
    #scala img {
      height: 60px;
    }
    #scala pre {
      margin-top: 10px;
      background: #CCDDEE;
    }
  header
    h1 Asynchronous
      small Actor model
  section
    pre.prettyprint
      include ../code/callactors.scala
    pre.prettyprint
      include ../code/actors.scala
    pre.prettyprint
      include ../code/actorslistener.scala