#scala.slide
  style
    #scala img {
      height: 60px;
    }
    #scala pre {
      margin-top: 10px;
      background: #CCDDEE;
    }
  header
    img(src='http://upload.wikimedia.org/wikipedia/en/8/85/Scala_logo.png')
  section
    h2 Actors example
    pre.prettyprint
      include ../code/actors.scala
    pre.prettyprint
      include ../code/callactors.scala
    pre.prettyprint
      include ../code/actorslistener.scala