#short-term.slide
  header
    h1 Short term
      small Accepted at [Cloud'12]. REMICS (Deliverable D4.1)
  section
    ul.bullets
      li Load balancer
      li Authentication
      li Code refactoring