#table-of-contents.slide
  header Today, we will cover...
  style
    #toc-list > li {
      font-size: 26px;
      opacity: 0.85;
    }
    #toc-list > li:hover {
      opacity: 1;
    }
    #toc-list a {
      border-bottom: 0;
    }
    #toc-list a:hover{
      border-bottom: 2px solid #3f3f3f;
    }
    #toc-list img {
      vertical-align: middle;
      margin-left: 15px;
    }
  section
    ul#toc-list

  aside.note
    section
      :markdown
        I have split the presentation into groups based on the thesis,
        from background to perspectives.
        However, the sections are flavored by preterite tense and subjective angling.

        For example in _background_ I will also talk about my dive into the world about cloud computing,
        how my interest for web development fueled the motivation for my thesis topic
        and my work to familiarize with cloud computing.
