#technologies.slide
  style
    #technologies img, #technologies .json span {
      border-radius: 7px;
      margin-right: 20px;
      height: 45px;
        margin-left: 30px;
    }
    #technologies .maven {
        margin-left: -5px;
    }
    #technologies .json span {
        font-size:50px;
        margin-left: 30px;
        padding-left: 85px;
        background-image: url(http://www.json.org/img/json160.gif);
        background-repeat: no-repeat;
        background-size: 60px;
    }
  header
    h1 Technological challenges
  section
    ul.bullets
      li.json Lexical template
        span JSON
      li Modularity
        img.maven(src='http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Maven_logo.svg/400px-Maven_logo.svg.png') 
      li Multi-cloud, Software reuse
        img(src='img/jclouds.png')
      li Asynchronous, models@run.time
        img.scala(src='http://upload.wikimedia.org/wikipedia/en/8/85/Scala_logo.png')