#thanks.slide
  style
    #thanks p {
      margin: 0px;
    }
  header
     h1 Thank you for your attention
  section
    h3 Publications
    ul
      li
        :markdown
           BENEVOL’11: Sébastien Mosser, __Brandtzæg, Eirik__, and Parastoo Mohagheghi. Cloud-Computing: from Revolution to Evolution. In BElgian-NEtherlands software eVOLution seminar, pages 1–2, Brussels, Belgium, December 2011. VUB.
      li
        :markdown
           Cloud’12: __Eirik Brandtzæg__, Parastoo Mohagheghi, and Sébastien Mosser. Towards a Domain-Speciﬁc Language to Deploy Applications in the Clouds. In Third International Conference on Cloud Computing, July 2012.
      li
        :markdown
           CloudMDE, associated with ECMFA'12: __Eirik Brandtzæg__, Sébastien Mosser, and Parastoo Mohagheghi. Towards CloudML, a Model-based Approach to Provision Resources in the Clouds (submitted). In Workshop on Model-Driven Engineering on and for the Cloud, co-located with the European Conference on Modelling Foundations and Application, Lyngby, Danemark, July 2012. Springer LNCS.
      li
        :markdown
           REMICS Deliverable: Gorka Benguria, Andrey Sadovykh, Sébastien Mosser, Antonin Abhervé, and __Bradtzæg, Eirik__. Platform Independent Model for Cloud (PIM4Cloud). Technical Report D-4.1, EU FP7 REMICS, March 2012.