#title-slide.slide
  style
    #title-slide h1, #title-slide h2 {
      color: black;
    }
    #title-slide h1 {
      letter-spacing: -2px;
      font-size: 96px;
    }
    #title-slide h2 {
      margin-top: -5px;
      font-size: 40px;
      letter-spacing: -1px;
    }
  section.middle
    hgroup
      h1 CloudML
      h2 A DSL for model-basedrealization of 
      h2 applications in the cloud

    #left-init-key(style='display:none')
