#topologies.slide
  style
    #topologies img {
        height: 266px;
        margin-top: 80px;
    }
    #topologies h3 {
      font-size: 30px;
      font-style: italic;
    }
  header
    h1 Provisioning resources for a BankManager
  section
    img.maincenter(src='img/topologies.png')
    h3 The topology to be used differs according to architects' goals
