#topology-lexical.slide
  style
    #topology-lexical pre {
      margin-top: 10px;
      background: #CCDDEE;
    }
    #topology-lexical section pre {
      margin-top: 40px;
    }
  header
    h1 Lexical topology
  section
    pre.prettyprint 
      include ../code/topology.json