#topology.slide
  style
    #topology img.maincenter {
        height: 400px;
    }
    #topology section img {
      margin-top: 40px;
    }
  header
    h1 Topology
  section
    img.maincenter(src='img/topology.png')