#topologies.slide
  style
    #topologies img {
        height: 266px;
        margin-top: 80px;
    }
  header
    h1 Bank manager provisioning topologies
  section
    img.maincenter(src='img/topologies.png')