#topology-lexical.slide
  style
    #topology-lexical pre.horrible {
      font-size: 7px;
    }
    #topology-lexical pre {
      background: #CCDDEE;
    }
    #topology-lexical section pre {
      margin-top: 40px;
    }
    #topology-lexical .built {
      display: none;
    }
  header
    h1 Lexical topology
  section
    div(data-build)
      div
        pre.prettyprint.horrible
          include ../code/topology-horrible.bash
      div
        pre.prettyprint 
          include ../code/topology.json