#tosca.slide
  style
    #tosca img {
        height: 350px;
    }
  header
    h1 TOSCA
  section
    img.maincenter(src='http://docs.oasis-open.org/tosca/TOSCA/v1.0/csd02/TOSCA-v1.0-csd02_files/image002.gif')