!!!5
html
  head
    meta(charset='utf-8')
    title CloudML
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono', rel='stylesheet')
    link#prettify-link(href='src/prettify/prettify.css', rel='stylesheet', disabled=true)
    link.theme(href='css/default.css', rel='stylesheet', media='screen')
    link(href='css/common.css', rel='stylesheet', media='screen')
    link(href='css/custom.css', rel='stylesheet', media='screen')
  body
    .presentation
      #presentation-counter Loading...
      .slides

        include slides/landing
        include slides/table-of-contents
        include slides/challenges-requirements
        include slides/challenges
        include slides/requirements
        include slides/vision
        include slides/implementation
        include slides/validation
        include slides/conclusion
        include slides/perspectives

      #speaker-note.invisible
      #device-nav
        a(href='#', data-command='prev') Prev
        a(href='#', data-command='next') Next

    script(src='http://code.jquery.com/jquery.min.js')
    script(src='src/prettify/prettify.js', onload='prettyPrint();')
    script(src='js/utils.js')
    script(src='js/sync.js')
    script(src='js/custom.js')
