#conclusion-table.slide
  style
    #conclusion-table table {
      border-spacing: 10px;
    }
    #conclusion-table th, #conclusion-table td {
      text-align: left;
      min-width: 90px;
    }
    #conclusion-table .yes {
      color: green;
    }
    #conclusion-table .no {
      color: red;
    }
    #conclusion-table .cloudml {
      font-weight: bold;
    }
  header
    h1 Requirements in state of the art
  section
    table
      thead
        tr
          th
          th software-reuse 
          th foundation 
          th.mda mda 
          th.mart m@rt 
          th lexical-template
      tbody
        tr
          td  Amazon CloudFormation 
          td 
          td 
          td Yes 
          td.no No 
          td Yes
        tr
          td CA Applogic 
          td
          td
          td Yes 
          td
          td.no No
        tr
          td jclouds
          td 
          td Yes 
          td Partly 
          td.no No 
          td.no No
        tr 
          td mOSAIC 
          td Yes 
          td Yes 
          td.no No 
          td.no No 
          td.no No
        tr
          td Amazon Beanstalk 
          td Yes 
          td Yes 
          td.no No 
          td.no No 
          td.no No
        tr 
          td.cloudml CloudML 
          td.yes Yes 
          td.yes Yes 
          td.yes Yes 
          td.yes Yes 
          td.yes Yes
