#json.slide
  style
    #json img.maincenter {
        height: 350px;
    }
    #json header img {
      height: 60px;
      float: left;
    }
    #json section img {
      margin-top: 40px;
    }
    #json span {
      margin-left: 20px;
    }
    #json pre {
      margin-top: 10px;
      background: #CCDDEE;
      font-size: 27px;
    }
    #json section pre {
      margin-top: 40px;
    }
    #json .json {
        margin-left: 20px; 
        font-size:60px;
        padding-left: 85px;
        background-image: url(http://www.json.org/img/json160.gif);
        background-repeat: no-repeat;
        background-size: 70px;
    }
  header
    h1 Lexical template
    small
    span  (
    span.json JSON
    span )
  section
    pre.prettyprint
      include ../code/advanced.json
        

