body {
    background-color: #EFF2F3;
    font-family: 'Cantarell', arial, serif;
}

.wrapper{
    background-color: white;
    border: 1px solid #AFAFAF;
    padding: 20px;
}

.ribbonHeader {
    text-decoration: underline;
}

#holder {
    border: 1px solid #AFAFAF;
    background-color: #9FD6D0;
}

#draggable {
    width: 90px; 
    height: 90px; 
    padding: 0.5em; 
    float: left; 
    margin: 0 10px 10px 0; 
    margin-bottom:20px; 
    cursor: move;
}